body {
  font-family: Courier New;
}
td.border-size-2,
th.border-size-2
{
  border-width: 2px!important;
}

.text-center-table-column-1 tr td:first-child,
.text-center-table-column-1 tr th:first-child
{
  text-align: center!important;
}

.text-center-table-column-2 tr td:nth-child(2),
.text-center-table-column-2 tr th:nth-child(2)
{
  text-align: center!important;
}

/* Cloak spinner */
[v-cloak] {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.modal-content {border: none;}

.no-table-striped > tbody > tr:nth-child(2n+1),
.no-table-striped > tbody > tr:nth-child(2n+1) > td,
.no-table-striped > tbody > tr:nth-child(2n+1) > th,
tbody.no-striped tr:nth-of-type(odd) {
  background-color: transparent;
}

.table-no-hover tbody tr:hover {background-color: transparent;}

.table-hover > tbody > tr:hover,
.table-hover > tbody > tr:hover > td
{
  background: #e6f6fc;
}

#map-container {
  height: 500px;
}

/*#city-map-nav {*/
/*  min-height: 468px;*/
/*}*/

#power-chart,
#moneys-chart {
  height: 150px;
}

/*.login-page {*/
/*  background: url("../dist/img/bg/bg1.jpeg") no-repeat;*/
/*  background-attachment: fixed;*/
/*  background-position: center;*/
/*  background-size: cover;*/
/*}*/

.input-bg,
.input-bg input,
.input-bg input:hover
{
  background: #fafdc4!important;
}

.main-top-container p {
  margin-bottom: 7px;
}

.main-top-container {
  margin: 1.3rem 6rem 10.5rem;
}

.top-container .brand-container {
}

.brand-container .brand-image {
  width: 50px;
  display: block;
}

.top-container .top-info p {
  margin-bottom: 7px;
}

/*.top-info {*/
/*  padding: 0;*/
/*}*/

.main-header {
  border: none;
}

.main-nav-bar p {
  margin: 0 0 .2em;
}
.main-nav-bar ul {
  font-size: 14px;
}

.main-nav-bar ul li {
  line-height: 200%;
}

.main-nav-bar p {
  font-size: 10px;
}

.main-nav-bar .row {
  margin: 0 3.5rem 2rem;
}

.navbar-nav {
  font-size: 19px;
  font-weight: bold;
}

.navbar-nav .fas  {
  margin-right: .5rem!important;
}

.table.table-head-fixed thead tr th {
  border: none;
}

.spacer {
  min-height: 29px;
  border-top: 2px solid black;
}

a {
  color: black;
}

.top-container .navbar {
  margin-left: 2.6rem!important;
  padding-top: 0;
}

.wrapper > .content {
  margin: 0 6rem;
}

.top-container {
  margin: 32px 6rem 4px;
}

.dashboard-widgets .small-box {
  min-height: 130px;
}

.city-selector-wrapper label {
  vertical-align: middle;
  display: block;
  line-height: 250%;
  margin: 0;
}

#city-map-nav,
.city-selector-wrapper label {
  height: 40px;
  float: left;
}

.map-wrapper {
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

.city-selector-wrapper {
  position: relative;
  z-index: 9999999;
  margin-top: -40px;
  height: 40px;
}

.city-selector-body {
  background: #f2f2f2;
  border-radius: 5px;
  width: 300px;
  padding: 3px;
}
.city-selector-wrapper label {
  min-width: 20%;
  text-align: center;
}

#city-map-nav {
  max-width: 80%;
}

.log-out {
  color: #1155cc;
  font-weight: bold;
}

.table {
  font-size: 14px;
}







