td.border-size-2,
th.border-size-2
{
  border-width: 2px!important;
}

.text-center-table-column-1 tr td:first-child,
.text-center-table-column-1 tr th:first-child
{
  text-align: center!important;
}

.text-center-table-column-2 tr td:nth-child(2),
.text-center-table-column-2 tr th:nth-child(2)
{
  text-align: center!important;
}

/* Cloak spinner */
[v-cloak] {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


